#form {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

#table {
    width: 80%;
    margin-right: auto;
    margin-top: 80px;
    margin-left: auto;
}

#addbtn, #resetbtn {
    margin-top: 15px;
}

.form-outline {
    margin-top: 10px;
}

.btn-warning {
    width: 30%;
}

.btn-primary {
    width: 22%;
}

.btn-success, .btn-danger, .btn-info {
    width: 60%;
    margin: 3px;
}

#success {
    margin-top: 200px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

#danger {
    margin-top: 200px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

#submit4{
    margin: 3px;
}