<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>TODO - edycja zadania</title>
</head>
<body>
<div class="alert alert-danger" role="alert" th:id="dangeralert" th:text="#{|${badDescriptionAlert}|}"
     th:if="${badDescriptionAlert}"></div>
<section th:id="login-panel">
    <div>
        <div><img src="/img/logotype.png" alt="logotype" id="logotype"></div>
        <form id="login-form" th:action="@{/edit}" th:object="${taskToEdit}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="col-12">
                <div class="form-outline">
                    <label class="form-label" for="form1">Wprowadź opis zadania:</label>
                    <input type="text" id="form1" th:field="*{description}"
                           class="form-control"/>
                </div>
                <div class="form-outline">
                    <label class="form-label" for="form2">Kiedy:</label>
                    <input type="date" id="form2" th:field="*{startDate}" th:min="*{startDate}"
                           class="form-control"/>
                </div>
                <div>
                </div>
                <div class="form-outline">
                    <label class="form-label" for="form3">Kategoria:</label>
                    <select class="form-control" id="form3" th:field="*{category}" name="cat">
                        <option th:each="category:${T(io.github.patrykblajer.todo.task.Category).values()}"
                                th:text="#{${category}}"
                                th:value="${category}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="text-center" th:id="edit-account-buttons">
                <button type="submit" class="btn btn-info">Wyślij</button>
                <a href="/">
                    <button type="button" class="btn btn-warning">Anuluj</button>
                </a>
            </div>
        </form>
    </div>
</section>
</body>
</html>