<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<p>Cześć,</p>
<p style="margin-bottom: 3px; margin-top: -10px">w celu zresetowania hasła skorzystaj z poniższego adresu:</p>
<p><a th:href="'http://localhost:8080/reset-password-final?token='+${content}"
      th:text="'http://localhost:8080/reset-password-final?token='+${content}"></a></p>

<p style="margin-top: 20px">To łącze jest ważne tylko przez 30 min od otrzymania tego e-maila.</p>
<p style="margin-top: -10px"> Jeśli prośba o zresetowanie hasła nie została wysłana przez Ciebie, zignoruj tę
    wiadomość.</p>
<p style="margin-top: 30px">Pozdrawiam,</p>
<p style="margin-top: -10px">Administrator todoapp</p>
</body>
</html>